@import "../../common/styles/sass/variables";
@import "../../common/styles/mixins/mixins";

.nav {
  width: 300px;
  display: flex;
  justify-content: space-around;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: $textColor;
  @media screen and (max-width: 400px) {
    display: none;

  }
  a {
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: #2fbf71;


    }

  }

  .active {
    color: #2fbf71;

  }

  .main {
    position: relative;
    outline: none;
    z-index: 0;
    @include psevdo();
  }

  .skills {
    @extend .main
  }

  .project {
    @extend .main
  }

  .contacts {
    @extend .main
  }

}