@import "../common/styles/sass/variables";
@import "../common/styles/mixins/mixins";
.remoteWorkBlock {

    background-color: $bgColor;
    text-align: center;

    .remoteWorkContainer {
        @include container();
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
}


