@import "../../styles/sass/variables";
.title {
  position: relative;
  margin: 0 0 30px;

  & h2 {
    font-family: 'Inter', sans-serif;
    color:$textColor;
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 25px;
    display: inline-block;
    vertical-align: top;
    text-transform: capitalize;
    letter-spacing: 5px;

    &::before {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      width: 60px;
      background: $primaryColor;
      height: 1px;
      box-sizing: border-box;

    }

    &::after {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      bottom: -8px;
      left: 54px;
      right: 0;
      z-index: -1;
      background: $primaryColor;
      box-sizing: border-box;

    }
    //&:hover {
    //  text-decoration: none;
    //  color:$primaryColor;
    //  &::after {
    //    left: 100%;
    //    transition: all 0.3s ease-in-out 0s;
    //  }
    //  &::before{
    //    width: 100%;
    //    transition: all 0.3s ease-in-out 0s;
    //  }
    //}
  }
}





