@import "../sass/variables";
@mixin text ($fontFamily,$fontSize,$lineHeight,$fontWeight){
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
  font-weight: $fontWeight;
}
@mixin container(){
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}