@import "../common/styles/sass/variables.scss";
@import "../common/styles/mixins/mixins";

.skillsBlock {
  min-height: 50vh;
  background-color: $bgColor;

  .skillsContainer {
    @include container();
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      @media screen and (max-width: 565px) {
        justify-content: center;
      }

    }
  }
}

//.animateContainer {
//  width: 300px;
//  height: 400px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  overflow: hidden;
//  position: relative;
//  border-radius: 20px;
//
//  .Span {
//    background-color: #1e1e1e;
//    position: absolute;
//    top: 5px;
//    left: 5px;
//    width: calc(100% - 10px);
//    height: calc(100% - 10px);
//    z-index: 20;
//border-radius: 16px;
//  }
//
//  &::before {
//    width: 500px;
//    height: 500px;
//    content: '';
//    position: absolute;
//    background-image: conic-gradient(transparent, transparent, transparent, #80ffdb);
//    animation: rotate 2s linear infinite;
//  }
//
//  &::after {
//    width: 500px;
//    height: 500px;
//    content: '';
//    position: absolute;
//    background-image: conic-gradient(transparent, transparent, transparent, #6930c3);
//    animation: rotate 2s linear infinite;
//    animation-delay: -1s;
//  }
//
//  @keyframes rotate {
//    from {
//      transform: rotate(0);
//    }
//    to {
//      transform: rotate(360deg);
//    }
//  }
//
//
//}