@import "../common/styles/sass/variables";
.nav {

    width: 300px;
    display: flex;
    justify-content: space-around;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color:$textColor;
}