@import "../common/styles/sass/variables";

.FooterBlock {
  height: 50vh;
  background-color: $bgColor;

  .footerContainer {
    flex-direction: column;
    justify-content: space-between;


    .footerSocial {
     width: 100%;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      .itemSocial {

        background-color: $bgColor;
        width: 70px;
        height: 70px;
        background-size: contain;
        background-position: center;
        border-radius: 5px;
      }
    }
  }
}



